.contactscardswrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px 0;
  padding-bottom: 40px;
}

@media screen and (max-width: 496px) {
  .contactscardswrapper {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
}
