.contacts_wrapper {
  margin-top: 100px;
  margin-left: 50%;
  padding-top: 20px;
  width: 90%;
  overflow-x: auto;
  .contactsWrapper {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 80%;
  }
  .contactsSwitcher {
    float: right;
    font-size: 26px;
    background: none;
    border: none;
    &:hover {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.54);
    }
  }
  transform: translateX(-50%);
  .left {
    width: 100%;
    .fullname {
      cursor: pointer;
    }
  }
  .right {
    float: right;
  }
  table {
    border-collapse: collapse;
  }

  td,
  th {
    padding: 0.5rem;
    text-align: left;
  }
  .important {
    margin-top: 0;
  }
}
@media screen and (max-width: 920px) {
  .contactsWrapper {
    flex-direction: column;
    .css-2b097c-container {
      width: 266px;
    }
  }
}
