.card {
  margin: 10px;
  width: 250px;
  height: 391px;

  .contactcard {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    color: black;
    span {
      color: rgba(0, 0, 0, 0.45);
    }
  }
}
.MuiCardContent-root {
  .MuiTypography-h5 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
  }
}
@media screen and (max-width: 621px) {
  .card {
    width: 221px;
  }
}

@media screen and (max-width: 568px) {
  .card {
    width: 202px;
    margin: 7px;
  }
}

@media screen and (max-width: 496px) {
  .cardswrapper {
    align-items: center;
    justify-content: flex-start;
    flex-grow: column;
  }
}
