.profile {
  margin-top: 90px;
  width: 500px;
  margin-left: 50%;
  transform: translate(-50%);
  .title {
    text-align: center;
  }
  .profile_wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    img {
      width: 260px;
      height: 260px;
    }
  }
}

@media screen and (max-width: 589px) {
  .profile {
    width: 100%;
    .profile_wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 355px) {
  .profile {
    .profile_wrapper {
      img {
        width: 223px;
        height: 223px;
      }
    }
  }
}
