.header {
  background: #ffff;
  width: 100%;
  box-shadow: 2px 7px 8px 0px rgba(34, 60, 80, 0.2);
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 2;
  .wrapper {
    padding-right: 30px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    .left {
      display: flex;
      width: 10%;
      justify-content: space-between;
      .home,
      .contacts {
        background: none;
        color: black;
        margin-left: 20px;
        border: none;
        height: 40px;
        font-size: 24px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .signIn {
      background: none;
      color: black;
      border: none;
      font-size: 24px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .anactive {
    display: none;
  }
}

@media screen and (max-width: 1320px) {
  .header {
    .wrapper {
      .left {
        .home,
        .contacts {
          font-size: 15px;
        }
      }
    }
  }
}
