.statistics__wrapper {
  width: 90%;
  display: table;
  padding: 10px;
  margin-left: 50%;
  margin-top: 40px;
  transform: translateX(-50%);
  .statistics {
    width: 100%;
    display: table;
    .owner {
      float: left;
      .low__wrapper {
        width: 320px;
      }
      .low__wrapper,
      .low__wrapper_right_wrapper {
        display: flex;
        justify-content: space-between;
      }
      .low__wrapper_right_wrapper {
        width: 150px;
      }
    }
  }
  .statistics__nationalitie {
    h2 {
      float: left;
    }
    width: 100%;
    padding: 10px;
  }
  .statistics__nationalitie_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
.statistics__card_item {
  font-weight: 700;
  font-size: 18px;
  width: 157px;
  margin: 10px;
}
h2 {
  color: rgba(0, 0, 0, 0.45);
  font-size: 18px;
}
.statistics_count {
  color: rgba(0, 0, 0, 0.85);
  font-size: 24px;
}
@media screen and (max-width: 411px) {
  .statistics__nationalitie_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .statistics__card_item {
    font-size: 14px;
  }
  .statistics__wrapper {
    .statistics {
      .owner {
        float: left;
        .low__wrapper {
          width: 280px;
        }
      }
    }
  }
}
